PORT=3038
SUPABASE_URL=https://yrtwfhbdrqtuiirvizne.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHdmaGJkcnF0dWlpcnZpem5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3ODExNDcsImV4cCI6MjA5OTM1NzE0N30.kbEWEIpztsjCwIyS2qpgbighYyGqL-W2KSKsObzlKT4
